
<h2><strong>
    TODO CRUD
</strong></h2>
<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <app-todo-dashboard></app-todo-dashboard>
       
        </div>
    </div>
</div>

<h2><strong>
    STUDENT CRUD
</strong></h2>
<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <app-student-dashboard></app-student-dashboard>
        </div>
    </div>
</div>



<!-- <h2><strong> -->
    <!-- MOVIE CRUD
</strong></h2>
<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <app-movie-dashboard></app-movie-dashboard>
        </div>
    </div>
</div> -->
